.FilterButton {
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    outline: none;
}

.FilterButton:hover {
    background-color: rgba(255, 90, 95, 0.8);
}

.FilterButton:focus {
    outline: none;
}