.CardContainer {
    display: flex;
    background-color: whitesmoke;
    height: 20rem;
    margin: 1rem;
}

.thumbnailContainer {
    width: 30rem;
    height: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
}

.roomInfoContainer {
    width: calc(100% - 30rem);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
